<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <title>Holy High MAP</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>

    <!-- Sweet Alert css -->
    <link href="assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css"/>

    <script src="assets/js/modernizr.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body>


<div id="x_data" class="wrapper-mid-info">

    <div >

        <div class="text-center">
            <a href="index.html" class="logo logo-lg"><i class="md md-equalizer"></i> <span>GAODE MAP INTEGRATION</span> </a>
            <span class="help-block"><small>GaoDe Map Integration</small></span>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-heading bg-lightgrey">
                        <h3 class="portlet-title">

                        </h3>

                        <div class="portlet-widgets">
                            <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                            <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><i
                                    class="ion-minus-round"></i></a>
                            <span class="divider"></span>
                            <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div id="bg-default" class="panel-collapse collapse in">
                        <div class="portlet-body" id="x_map_addressInfo">


                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group" >

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="form-horizontal m-t-20">

            <div class="form-group">
                <div class="col-xs-12">
                    <label  class="col-md-2 control-label">
                        经度：</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" required="" v-model="content.latitude" @change="searchByLongLatitude()"  placeholder="输入经度...">
                        <span class="help-block"><small>输入经度定位</small></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-2 control-label">
                    维度：</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" required="" v-model="content.longitude" @change="searchByLongLatitude()"  placeholder="输入维度...">
                    <span class="help-block"><small>输入维度定位</small></span>
                </div>
            </div>

            <div class="form-group">
                <label  class="col-md-2 control-label">
                    按地址搜索：</label>
                <div class="col-md-10">
                    <textarea class="form-control" v-model="content.addressInfo" placeholder="搜索地址...."
                              rows="5"></textarea>
                </div>
            </div>


            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button id="x_login" title="清除Marker"
                    @click="clearMarker()" class="btn btn-primary btn-custom w-md waves-effect waves-light"
                    type="button">清除Marker
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<script>
    var resizefunc = [];
</script>

<!-- Main  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/Commons.js"></script>
<script src="js/ServiceJSONHelper.js"></script>

<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=ef8de0d01c4263763b129524268dfc5b"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<script src="js/MapAutoIntegration.js"></script>

<script src="assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>


<!-- Custom main Js -->
<script src="assets/js/jquery.core.js"></script>
<script src="assets/js/jquery.app.js"></script>


</body>
</html>